
      .quantity-input {
        width: 50px;
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .remove-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 0;
        cursor: pointer;
        border-radius: 4px;
      }
      
      .remove-button:hover {
        background-color: #da190b;
      }
      .product-name {
       font-size: small;
      }
      .color-option {
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
      }
      